<div class="product">
  <div class="product-details">
    <img [src]="getImageUrl(product)" [alt]="product.imageName" />
    <div class="product-info">
      <div class="name">{{ product.name }}</div>
      <div class="description">{{ product.description }}</div>
      <div class="category">Part Type: {{ product.category }}</div>
    </div>
  </div>
  <div class="price">
    <div [ngClass]="getDiscountedClasses(product)">
      {{ product.price | currency : "BRL" }}
    </div>
    <div class="discount" *ngIf="product.discount > 0">
      {{ product.price * (1 - product.discount) | currency : "BRL" }}
    </div>
    <button class="cta" (click)="buyButtonClicked(product)">Buy</button>
  </div>
</div>
